@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 $AlmostWhite: hsl(0, 0%, 98%);
 $MediumGray: hsl(0, 0%, 41%);
 $AlmostBlack: hsl(0, 0%, 8%);

body{
    font-family: 'Epilogue', sans-serif;
    font-size: 1.125rem;
    background-color: $AlmostWhite;
    transition: .5s;
    @media (min-width:62rem) {
        margin-bottom: 1rem;
    }
}

.hideText{
    font-size: 0rem;
}

button{
    all: unset;
}

.header{
    position: relative;
    height: 100vh;
    overflow: hidden;

    .nav__block-1{
        display: flex;
        justify-content: space-between;
        padding:clamp(1rem,5vw,2rem);
        justify-content: baseline;

        .cls{
            font-size: 0rem;
        }
        .menu-icon{
            @media (min-width:62rem) {
                display: none;                    
            }
        }
        
    }

    .nav-list{
        transform: translateX(107%);
        z-index: 1;
        background-color:  white;
        position: absolute;
        width: min(60%,31.25rem);
        height: 100vh;
        top:0;
        right: 0;
        padding: clamp(1rem,5vw,3rem);
        transition: .5s;

        @media (min-width:62rem) {
            z-index: 1;
            background-color:$AlmostWhite; 
            position: absolute;
             width: 100% !important; 
            height: 10vh; 
            top: 0.625rem;
            left: 13% !important;
            padding: 0 !important; 
            display: flex ;
            flex-direction: row;
            transform: translateX(0%) !important;

        }

            .close-icon-cont{
                display: flex;
                justify-content: end;

                .close-menu-icon{
                    margin-bottom: 1rem;
                    position: relative;

                    @media (min-width:62rem) {
                        display: none;                    
                    }
                }

           }


        ul{

            @media (min-width:62rem) {
                list-style-type: none;
                display: flex;
                justify-content: space-around;
                align-items: baseline;
                align-items: center;
                width: min(56%,46.25rem);
            }

            list-style-type: none;

            li:last-child{
                text-align: center;
            }

            li{
                font-size: 1rem;
                margin-top: clamp(1rem,5vw,2.5rem);
                margin-top: .9rem;
               

                @media (min-width:62rem) {
                    margin-top: 0 !important;
                    text-align: center;
                    position: relative;
                }
                a{
                    text-decoration: none;
                    color: $MediumGray;
                    &:hover{
                        color: $AlmostBlack;
                    }
                }


                .arrow-icon{
                    margin-left:1rem;
                    transition: .5s;
                    @media (min-width:62rem) {
                        margin-left:.5rem !important;
                    }
                }

                .dropdown-1{
                    position: relative;
                    left: 1.875rem;
                    width: 8.125rem;
                    overflow: hidden;
                    height:0;
                    transition: .5s;
                    border-radius: 0.4375rem;

                    @media (min-width:62rem) {
                        position: absolute !important;
                        left: -2.375rem !important;
                        width: 8.125rem !important;
                        display: flex;
                        flex-direction: column;
                        top:2.6875rem;
                        background-color: white;
                        box-shadow: 0 0.125rem 0.9375rem rgb(0 0 0 / 10%);    


                    }

                        li{
                            color: $MediumGray;
                            font-size: 0.8125rem;
                            width:6rem;
                            display: flex;
                            justify-content: start;
                            align-items: center;
                            border-bottom: 0.125rem solid $AlmostWhite;
                            img{
                                margin-right: .5rem;
                            }  
                            &:hover{
                                cursor: pointer;
                            } 
                        }
                       
                }
                
                .dropdown-2{
                    position: relative;
                    left:1.875rem;
                    width: 6.25rem;
                    overflow: hidden;
                    height:0;
                    transition: .5s;
                    border-radius: 0.4375rem;
                    overflow: hidden;

                    @media (min-width:62rem) {
                        position: absolute !important;
                        left:0rem;
                        top:2.6875rem;
                        display: flex;
                        flex-direction: column;
                        text-align: start;
                        background-color: white;
                        box-shadow: 0 0.125rem 0.9375rem rgb(0 0 0 / 10%);    
                    }

                        li{
                            color: $MediumGray;
                            font-size: 0.8125rem;
                            width: 3.8125rem;
                            text-align: start;
                            &:hover{
                                cursor: pointer;
                            } 
                        }
                }
                
                .registerBtn{
                    all: unset;
                    padding:.7rem 1rem;
                    border: 0.125rem solid $MediumGray;
                    width: 75%;
                    border-radius: 0.9375rem;
                    text-align: center;
                    color: $MediumGray;
                    font-size: 1rem;
                    cursor: pointer;
                    &:hover{
                        color:$AlmostBlack;
                    }

                    @media (min-width:62rem) and (max-width:81.25rem) {
                        position: relative;
                        left: 28vw;
                    }
                    @media (min-width:81.3125rem) {
                        position: relative;
                        left:33vw !important;
                    }

                }
                
                
            }
            .nav-login{
                text-align: center;
                margin-top: 2.5rem;
                @media (min-width:62rem) and (max-width:81.25rem) {
                    position: relative;
                    left: 28vw;
                }
                @media (min-width:81.3125rem) {
                    position: relative;
                    left:33vw !important;
                }
            }
        }
       
    }
   

}

.main{
    position: absolute;
    top:12%;
    @media (min-width:62rem) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        top:14% !important;
    }
       

    .main__picture{
        @media (min-width:62rem) {
            flex-basis:38%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .hero-image-mob{
            width: 100vw;
            @media (min-width:62rem) {
                display: none;
            }
         }

         .hero-image-desktop{
            display: none;
            @media (min-width:62rem) {
                display: block !important;
                width:80%;
                
            }
         }
    }

    .main__section{
        display: flex;
        flex-direction: column;
        align-items: center; 
        padding-left:clamp(.7rem,5vw,3rem);
        padding-right:clamp(.7rem,5vw,3rem);
        padding-top:clamp(2rem,10vw,4rem);
        @media (min-width:62rem) {
            align-items: flex-start; 
            flex-basis:42%;  
            justify-content: center;         
        }

        .main__heading{
            font-size: clamp(2.2rem,1.6376rem + 2.4vw,3.8rem);
            margin-bottom: clamp(1rem,5vw,2rem);
            text-align: center;

            @media (min-width:62rem) {
                text-align: start !important;
                margin-bottom: clamp(.8rem,5vw,2rem);
                margin-top: .4rem;
                font-size: clamp(3rem,-0.9804rem + 6.42vw,4.8rem) !important;
            }
        }
        
        .main__text{
            margin-bottom: clamp(3rem,8vw,4rem);
            text-align: center;
            color: $MediumGray;
            font-weight: 500;
            font-size: 1rem;
            line-height: 1.5;
            @media (min-width:62rem) {
                text-align: start !important;
            }
            @media (min-width:81.25rem) {
                padding-right: 5rem;
            }
            
        }
        .section-btn{
            color:$AlmostWhite ;
            background-color:  $AlmostBlack;
            font-weight: 700;
            padding:1rem 2rem;
            border-radius: 0.9375rem;
            border: .5px solid $AlmostBlack;
            cursor: pointer;
            transition: all .4s ease;

            &:hover{
                color:$AlmostBlack;
                background-color:  $AlmostWhite;
                border: .5px solid $AlmostBlack;
                font-weight: 700;
            }
        }
        .main__logo-block{
            margin: clamp(2rem,17vw,5rem) 0 0 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width:100%;

            @media (min-width:37.5rem) and (max-width:62rem) {
                justify-content: space-around !important;
            }

            .main__logo{
                width: clamp(3.625rem, 18vw, 4.375rem);
                height: clamp(0.9375rem, 4vw, 1.25rem);
            }
            .main__logo-2{
                width: clamp(3.375rem, 18vw, 4.0625rem);
                height: clamp(1.5rem, 4vw, 1.5625rem);
            }
        }

    }
}


 //js css for dropdown-1 mobile
 .dropStyle1{
    height:8.6875rem !important;
    @media (min-width:62rem) {
        padding: 0.8rem;
        
    }
}

 //js css for dropdown-1 mobile
.dropStyle2{
    height: 6.25rem !important;
    @media (min-width:62rem) {
        padding: 0.8rem;
        
    }
}

//arrow-1
.arrowStyle1{
    transform: rotate(180deg);
}
//arrow-2
.arrowStyle2{
    transform: rotate(180deg);
}
 