@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 $AlmostWhite: hsl(0, 0%, 98%);
 $MediumGray: hsl(0, 0%, 41%);
 $AlmostBlack: hsl(0, 0%, 8%);

body{
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    // background-color:rgba(0, 0, 0,60%);
    @media (min-width:992px) {
        margin-bottom: 1rem;
        
    }
}

button{
    all: unset;
}

.header{
    position: relative;
    height: 100vh;
    overflow: hidden;

    .nav__block-1{
        display: flex;
        justify-content: space-between;
        padding:clamp(1rem,5vw,2rem);
        justify-content: baseline;

        .menu-icon{
            @media (min-width:992px) {
                display: none;                    
            }
        }
    }

    .nav-list{
        transform: translateX(107%);
        z-index: 1;
        background-color:  $AlmostWhite;
        position: absolute;
        width: min(60%,500px);
        height: 100vh;
        top:0;
        right: 0;
        padding: clamp(1rem,5vw,3rem);
        transition: .5s;

        @media (min-width:992px) {
            z-index: 1;
            background-color:white; 
            position: absolute;
             width: 100% !important; 
            height: 10vh; 
            top: 10px;
            left: 13% !important;
            padding: 0 !important; 
            display: flex ;
            flex-direction: row;
            transform: translateX(0%) !important;

        }

            .close-icon-cont{
                display: flex;
                justify-content: end;

                .close-menu-icon{
                    margin-bottom: 1rem;
                    position: relative;

                    @media (min-width:992px) {
                        display: none;                    
                    }
                }

           }


        ul{

            @media (min-width:992px) {
                list-style-type: none;
                display: flex;
                justify-content: space-around;
                align-items: baseline;
                align-items: center;
                width: min(56%,740px);
            }

            list-style-type: none;

            

            li{
                font-size: 1rem;
                margin-top: clamp(1rem,5vw,2.5rem);
                margin-top: .9rem;

                @media (min-width:992px) {
                    margin-top: 0 !important;
                    text-align: center;
                    position: relative;
                }
                a{
                    text-decoration: none;
                    color: $MediumGray;
                    // &:hover + .dropdown-1{
                    //     height:160px;
                    // }
                }


                .arrow-icon{
                    margin-left:1rem;
                    @media (min-width:992px) {
                        margin-left:.5rem !important;
                    }
                }

                .dropdown-1{
                    position: relative;
                    left: 30px;
                    width: 130px;
                    // font-size: 1rem;
                    overflow: hidden;
                    height:0;
                    transition: .5s;
                    border-radius: 7px;
                    // padding: 0.8;
                    // line-height: 1;

                    @media (min-width:992px) {
                        position: absolute !important;
                        left: -38px !important;
                        // height: 139px !important;
                        // overflow: hidden;
                        width: 130px !important;
                        display: flex;
                        flex-direction: column;
                        top:clamp(20px,3vw,40vw);
                        background-color: cyan;
                        // padding: 0.8rem;
                    }

                        li{
                            color: $MediumGray;
                            font-size: 13px;
                            width:96px;
                            display: flex;
                            justify-content: start;
                            align-items: center;
                            img{
                                margin-right: .5rem;
                            }   
                        }
                       
                }
                
                .dropdown-2{
                    position: relative;
                    left:30px;
                    width: 100px;
                    font-size: 1rem;
                    overflow: hidden;
                    height:0;
                    transition: 1s;
                    border-radius: 7px;

                    @media (min-width:992px) {
                        position: absolute !important;
                        left:0px;
                        width: 100px;
                        top:43px;
                        font-size: 1rem;
                        overflow: hidden;
                        height:100px !important;
                        transition: 1s;
                        display: flex;
                        flex-direction: column;
                        text-align: start;
                        background-color: cyan;
                        padding: 0.8rem;
                    }

                        li{
                            color: $MediumGray;
                            font-size: 13px;
                            width: 61px;
                            text-align: start;
                        }
                }
                .registerBtn{
                    all: unset;
                    padding:.7rem 1rem;
                    border: 2px solid $MediumGray;
                    width: 85%;
                    border-radius: 15px;
                    text-align: center;
                    color: $MediumGray;
                    font-size: 1rem;

                    @media (min-width:992px) and (max-width:1300px) {
                        position: relative;
                        left: 28vw;
                    }
                    @media (min-width:1301px) {
                        position: relative;
                        left:33vw !important;
                    }
                }
                
                
            }
            .nav-login{
                text-align: center;
                margin-top: 2.5rem;
                @media (min-width:992px) and (max-width:1300px) {
                    position: relative;
                    left: 28vw;
                }
                @media (min-width:1301px) {
                    position: relative;
                    left:33vw !important;
                }
            }
        }
       
    }
   

}

.main{
    position: absolute;
    top:12%;
    @media (min-width:992px) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        top:14% !important;
    }
       

    .main__picture{
        @media (min-width:992px) {
            flex-basis:38%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .hero-image-mob{
            width: 100vw;
            @media (min-width:992px) {
                display: none;
            }
         }
         .hero-image-desktop{
            display: none;
            @media (min-width:992px) {
                display: block !important;
                width:80%;
                
            }
         }
    }

    .main__section{
        display: flex;
        flex-direction: column;
        align-items: center; 
        padding-left:clamp(.7rem,5vw,3rem);
        padding-right:clamp(.7rem,5vw,3rem);
        padding-top:clamp(2rem,10vw,4rem);
        @media (min-width:992px) {
            align-items: flex-start; 
            flex-basis:42%;  
            justify-content: center;         
        }

        .main__heading{
            font-size: clamp(2.2rem,1.6376rem + 2.4vw,3.8rem);
            margin-bottom: clamp(1rem,5vw,2rem);
            text-align: center;

            @media (min-width:992px) {
                text-align: start !important;
                margin-bottom: clamp(.8rem,5vw,2rem);
                margin-top: .4rem;
                font-size: clamp(3rem,-0.9804rem + 6.42vw,4.8rem) !important;
            }
        }
        
        .main__text{
            margin-bottom: clamp(3rem,8vw,4rem);
            text-align: center;
            color: $MediumGray;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            @media (min-width:992px) {
                text-align: start !important;
            }
            
        }
        .section-btn{
            text-decoration: none;
            color:$AlmostWhite ;
            background-color:  $AlmostBlack;
            font-weight: 700;
            padding:1rem 2rem;
            border-radius: 15px;
        }
        .main__logo-block{
            margin: clamp(2rem,17vw,5rem) 0 0 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width:100%;
            .main__logo{
                width: clamp(58px, 18vw, 70px);
                height: clamp(15px, 4vw, 20px);
            }
            .main__logo-2{
                width: clamp(54px, 18vw, 65px);
                height: clamp(24px, 4vw, 25px);
            }
        }

    }
}
 