@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
}

button{
    all: unset;
}

.header{
    position: relative;

    .nav__block-1{
        display: flex;
        justify-content: space-between;
        padding:1rem;
        justify-content: baseline;
    }
    .nav-list{
        // transform: translateX(100%);
        background-color: cyan;
        position: absolute;
        width: min(60%,500px);
        height: 100vh;
        top:0;
        right: 0;
        padding: 1rem;

        .close-icon-cont{
            display: flex;
            justify-content: end;
            .close-menu-icon{
                margin-bottom: 1rem;
                position: relative;
            }
         }


        ul{

            list-style-type: none;
            li{
                display: flex;
                margin-top: 1rem;
                a{
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                }

                .arrow-icon{
                    margin-left:1rem;
                }
            }
        }
        .nav-footer{
            a{
                text-decoration: none;
            }
            margin-top: 2.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .btn{
                all: unset;
                margin-top: 1rem;
                padding:1rem;
                border: 2px solid black;
                width: 100%;
            }
        }
    }
   

}
 