@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Epilogue", sans-serif;
  font-size: 18px;
}

button {
  all: unset;
}

.header {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.header .nav__block-1 {
  display: flex;
  justify-content: space-between;
  padding: clamp(1rem, 5vw, 2rem);
  justify-content: baseline;
}
@media (min-width: 992px) {
  .header .nav__block-1 .menu-icon {
    display: none;
  }
}
.header .nav-list {
  transform: translateX(107%);
  z-index: 1;
  background-color: cyan;
  position: absolute;
  width: min(60%, 500px);
  height: 100vh;
  top: 0;
  right: 0;
  padding: clamp(1rem, 5vw, 3rem);
}
@media (min-width: 992px) {
  .header .nav-list {
    z-index: 1;
    background-color: white;
    position: absolute;
    width: 100% !important;
    height: 10vh;
    top: 12px;
    left: 13% !important;
    padding: 0 !important;
    display: flex;
    flex-direction: row;
    transform: translateX(0%) !important;
  }
}
.header .nav-list .close-icon-cont {
  display: flex;
  justify-content: end;
}
.header .nav-list .close-icon-cont .close-menu-icon {
  margin-bottom: 1rem;
  position: relative;
}
@media (min-width: 992px) {
  .header .nav-list .close-icon-cont .close-menu-icon {
    display: none;
  }
}
.header .nav-list ul {
  list-style-type: none;
}
@media (min-width: 992px) {
  .header .nav-list ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    align-items: center;
    width: min(56%, 740px);
  }
}
.header .nav-list ul li {
  font-size: 1rem;
  margin-top: clamp(1rem, 5vw, 2.5rem);
}
@media (min-width: 992px) {
  .header .nav-list ul li {
    margin-top: 0 !important;
    text-align: center;
  }
}
.header .nav-list ul li a {
  text-decoration: none;
  color: hsl(0deg, 0%, 41%);
}
.header .nav-list ul li .arrow-icon {
  margin-left: 1rem;
}
@media (min-width: 992px) {
  .header .nav-list ul li .arrow-icon {
    margin-left: 0.5rem !important;
  }
}
.header .nav-list ul li .dropdown-1 {
  position: relative;
  left: 30px;
  width: 120px;
  font-size: 1rem;
  overflow: hidden;
  height: 0;
  transition: 1s;
}
.header .nav-list ul li .dropdown-1 li {
  color: hsl(0deg, 0%, 41%);
}
.header .nav-list ul li .dropdown-1 li img {
  margin-right: 0.5rem;
}
.header .nav-list ul li .dropdown-2 {
  position: relative;
  left: 30px;
  width: 100px;
  font-size: 1rem;
  overflow: hidden;
  height: 0;
  transition: 1s;
}
.header .nav-list ul li .dropdown-2 li {
  color: hsl(0deg, 0%, 41%);
}
.header .nav-list ul li .registerBtn {
  all: unset;
  padding: 0.7rem 1rem;
  border: 2px solid hsl(0deg, 0%, 41%);
  width: 85%;
  border-radius: 15px;
  text-align: center;
  color: hsl(0deg, 0%, 41%);
  font-size: 1rem;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .header .nav-list ul li .registerBtn {
    position: relative;
    left: 28vw;
  }
}
@media (min-width: 1301px) {
  .header .nav-list ul li .registerBtn {
    position: relative;
    left: 33vw !important;
  }
}
.header .nav-list ul .nav-login {
  text-align: center;
  margin-top: 2.5rem;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .header .nav-list ul .nav-login {
    position: relative;
    left: 28vw;
  }
}
@media (min-width: 1301px) {
  .header .nav-list ul .nav-login {
    position: relative;
    left: 33vw !important;
  }
}

.main {
  position: absolute;
  top: 11%;
}
@media (min-width: 992px) {
  .main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
}
@media (min-width: 992px) {
  .main .main__picture {
    flex-basis: 40%;
  }
}
.main .main__picture .hero-image-mob {
  width: 100vw;
}
@media (min-width: 992px) {
  .main .main__picture .hero-image-mob {
    display: none;
  }
}
.main .main__picture .hero-image-desktop {
  display: none;
}
@media (min-width: 992px) {
  .main .main__picture .hero-image-desktop {
    display: block !important;
    width: 100%;
  }
}
.main .main__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: clamp(0.7rem, 5vw, 3rem);
  padding-right: clamp(0.7rem, 5vw, 3rem);
  padding-top: clamp(2rem, 10vw, 4rem);
}
@media (min-width: 992px) {
  .main .main__section {
    align-items: flex-start;
    flex-basis: 40%;
  }
}
.main .main__section .main__heading {
  font-size: 2.2rem;
  margin-bottom: clamp(1rem, 5vw, 2rem);
  text-align: center;
}
@media (min-width: 992px) {
  .main .main__section .main__heading {
    text-align: start !important;
  }
}
.main .main__section .main__text {
  margin-bottom: clamp(3rem, 8vw, 4rem);
  text-align: center;
  color: hsl(0deg, 0%, 41%);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
@media (min-width: 992px) {
  .main .main__section .main__text {
    text-align: start !important;
  }
}
.main .main__section .section-btn {
  text-decoration: none;
  color: hsl(0deg, 0%, 98%);
  background-color: hsl(0deg, 0%, 8%);
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 15px;
}
.main .main__section .main__logo-block {
  margin: clamp(2rem, 17vw, 5rem) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.main .main__section .main__logo-block .main__logo {
  width: clamp(58px, 18vw, 70px);
  height: clamp(15px, 4vw, 20px);
}
.main .main__section .main__logo-block .main__logo-2 {
  width: clamp(54px, 18vw, 65px);
  height: clamp(24px, 4vw, 25px);
}/*# sourceMappingURL=main.css.map */